.info-btn-creativity {
  transition: all 0.2s;
}

.info-btn-creativity:hover {
  transform: scale(1.1);
}

.info-overlay-creativity {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

